
body{
    background: #ffffff url(/static/src/images/bg4.jpg)repeat fixed left top;
    background-size: auto;
}

#nav{
    background-color: green;
}

.welcome-container{
    background-image: url('/static/src/images/books-shelf-home.jpeg');
    background-repeat: no-repeat;
    height: 30em;
    background-position: center;
    position: relative;
    background-size: cover;
    /* margin-top: 0.8em; */
}

.center-welcome{
   color: white;
   font-weight: 700;
   font-size: 50px;
   background-color: black;
}

.carousel-spacing{
     height: 60%;
     width: 100%; 
     /* background-color: red;  */
     background-size: cover;       
}
.carousel-spacing img{
    /* width: 200px; */
    height: 550px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

footer{
    margin-top: 5em;
    height: 2.2em;
    background-color: #577590;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

footer h6{
    color: white;
    font-size: 0.6em;
    margin-bottom: 0;
    text-align: center;
}

.test{
    /* background-color: rgba(56, 116, 52,1); */
    background-color: white; 
    width: 80rem;
    height: 65rem;
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin: 1.2rem auto;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 2px #e3e3e3;
}

.test img{
    width: 8rem;
    height: 10rem;
    transition: all 0.8s ease; 
}


.spacing img{
    margin-bottom: 0.6em;
}

 .test a{
    color: #212529;
    text-decoration: none;
}

.spacing:nth-of-type(2){
    margin-top: 1em;
}

.test a img:hover{
    filter: brightness(80%);
    width: 10rem;
    height: 12rem;
}
.test a:hover{
    color: #2CD0F4;
}

.carousel-spacing p {
    font-weight: 500;
    font-size: 1.3rem;
}

.p{
    font-size: inherit;
}
