{% extends "base.html" %}
<head>
  <link href="/static/home.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg ">
        <div  id="nav" class="container-fluid">
            <a class="navbar-brand" href="#">
                UPRM Books
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link" id="home" href="{{ url_for('home') }}">Home</a>
                {% if current_user.is_anonymous %}
                <a class="nav-item nav-link" id="login" href="{{ url_for('login') }}">Login</a>
                {% else %}
                <a class="nav-item nav-link" id="logout" href="{{ url_for('logout') }}">Logout</a>
                {% endif %}
                <a class="nav-item nav-link" id="createListing" href="{{url_for('createposting') }}">Create Posting</a>
            </div>
            </div>
          </div> 
    </nav>
</body>


{% block content %}

    <h1>Welcome To UPRM Books!</h1>
   

    <a href="{{ url_for('books') }}">Books</a>

{% endblock %}

