{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block navbar %}{% endblock %}
{% block content %}
    <!-- <form action="" method="post" novalidate> 
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>-->
  <div class="row">
      <div class="col-sm-4" id="left-column">
        <form action="" class="row-g-3" method="post" novalidate>
          <h1>Welcome</h1>
          {{ form.hidden_tag() }}
          <div class="row-md-6">
            <!-- <div class="col-sm-4" id="email_icon"></div> -->
            <div class="col">
              {{ form.email(class="form-control", placeholder="Email") }}              
            </div>
          </div>
          <div class="row-md-6">
              <!-- <div class="col" id="password_icon"></div> -->
              <div class="col">
                  <input type="password" class="form-control" placeholder="Password" id="inputPassword" value="{{request.form.password}}" aria-label="Password">
              </div>
              <div class="form-check">
                {{ form.show_password(class="checkBox", onclick="showPassword()") }} {{ form.show_password.label(id="checkbox-label") }}
              </div>
          </div>
          <div class="row-12">
            <div class="form-check">
              {{ form.remember_me(class="checkBox") }} {{ form.remember_me.label(id="checkbox-label") }}
            </div>
          </div>
          <div class="row-12" id="log-in-button">
            <!-- {{ form.submit(class="button") }} -->
            <button type="submit" class="btn btn-primary">Log in</button>
          </div>
          <p>New User? <a href="{{ url_for('signup') }}">Sign up now!</a></p>
      </form>
      <img src="/static/src/images/uprm-logo.png" id="uprm-logo" alt="UPRM Logo">
      <p class="bottom"> By logging in, you agree to our terms of service and privacy policy.
Money transmission is not provided by UPRM Books (NMLS ID:2017010) pursuant to its licenses.
      </p>  
    </div>
      <div class="col-sm-8" id="right-column"></div>
  </div>
{% endblock %}