{% extends "base.html" %}
{% block title %}New Book{% endblock %}

{% block content %}
<head><link href="/static/newpost.css" rel="stylesheet"></head>
    <!-- <h1>New Posting</h1> -->
    <form action="" method="post" enctype="multipart/form-data">
        {{form.csrf_token}}
        {{ form.hidden_tag() }}
        <p>
            <div ISBN = "position-fixed top-20 end-35">
            
            {{ form.ISBN.label }}<br>
            {{ form.ISBN(class="form-title", placeholder="Add ISBN")}}<br>
            {% for error in form.ISBN.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        </p>
        <p>
        <div title = "position-fixed top-30 end-50">
            {{ form.title(size=32, class="form-description", placeholder="Add Title") }}<br>
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <div author = "position-fixed top-65 end-35">
            {{ form.author.label }}<br>
            {{ form.author(class="form-condition", placeholder="Add Author") }}<br>
            {% for error in form.author.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        </p>
        <p>
            <div retail = "position-fixed top-50 end-55">
            {{ form.retail(size=32, class="form-price", placeholder="Enter Retail Price") }}<br>
            {% for error in form.retail.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        </p>
        <p>
            <div image = "position-fixed top-20 start-25">
            {{ form.image.label }}<br>
            {{ form.image(size=32, class="form-image") }}<br>
            {% for error in form.image.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        </p>
        <div submit = "position-fixed top-75 end-15">
        <p>{{ form.submit() }}
        </div>
        </p>
    </form>
{% endblock %}