{% extends "base.html" %}

{% block content %}
    <h1>New Posting</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {{form.csrf_token}}
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title }}<br>
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.condition.label }}<br>
            {{ form.condition }}<br>
            {% for error in form.condition.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.price.label }}<br>
            {{ form.price(size=32) }}<br>
            {% for error in form.price.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.image.label }}<br>
            {{ form.image(size=32) }}<br>
            {% for error in form.image.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}