{% extends "base.html" %}
{% block content %}
<head><link href="/static/newpost.css" rel="stylesheet"></head>
    <div class="form-container">
       <div class = "form-items">
        <form action="" method="post" enctype="multipart/form-data" class="form">
            {{form.csrf_token}}
            {{ form.hidden_tag() }}
                <div title>
                {{ form.title.label }}<br>
                {{ form.title( class="form-control")}}<br>
                {% for error in form.title.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div description>
                {{ form.description(size=32,  class="form-control", placeholder="Add Description") }}<br>
                {% for error in form.description.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
                <div condition>
                {{ form.condition.label }}<br>
                {{ form.condition( class="form-control") }}<br>
                {% for error in form.condition.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
                <div price>
                {{ form.price(size=32,  class="form-control", placeholder="Enter Price") }}<br>
                {% for error in form.price.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
                <div image>
                {{ form.image.label }}<br>
                {{ form.image(size=32, class="form-control") }}<br>
                {% for error in form.image.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div submit>
            {{ form.submit( class="form-control") }}
            </div>
        </form>
    </div>
    </div>
       
{% endblock %}